body {
  padding: 10px;
}

/* url https://stackoverflow.com/a/248013/9475509 [20240120]. */
pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  padding: 10px 20px;
  background: #eee;
}

table {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid black;
  padding: 4px 8px;
}

td {
  padding: 4px 8px;
}